.header {
    margin: 0 0 4rem 0;
    text-align: center; 
}

.header__opções {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-quinaria);
    gap: 4rem;
    transition: 1.4s;
}

.header__opções > a > img {
    margin-top: -11rem;
}

.header__imagem {
    margin-top: -12rem;
}

.header__opções__contato {
    font-size: 32px;
    color: var(--cor-quaternaria);
    margin-top: -9rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: 1.4s;
}

.header__opções__contato:hover {
    color: var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-terciaria);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: 1.4s;
}

@media screen and (max-width: 1024px) {

    .header__imagem {
        width: 130%;
        margin-top: -10rem;
    }

    .header__opções__contato {
        font-size: 28px;
    }
    
    .header__opções > a > img {
        margin-top: -6rem;
    }
}